#div {
    background-color: rgb(230, 216, 215);
    height: 250px;
    width: 100%;
    margin-top: 0%;
    margin: 0 auto;
    padding-top: 200px;
}
body {
    margin-top: 0;
    margin-right:0;
    margin-left:0;
}

.title {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 0;
    align-self: center;
}
#desc{
    margin-top: 1px;
    display: flex;
    justify-content: center;
    background-color: black;
    color:white;
    height: 300px;
    padding-top:200px;
}
#menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:fixed;
    border: solid blue 3px; 
    height: 100%;
}
.button {
    height: 50px;
    width:50px;
}