<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home</title>
        <link rel = "stylesheet" type = "text/css" href = "home.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <style>
        body {
            font-family: 'Open Sans', serif;

        }
        
        </style>
    </head>
    <body>
        <div id = "logo">
           <img src = "images/Kinnect.png" id = "image">
        </div>
        <div id = "button-holder">
            <a href = "sign" class = "tag">
                <button id = "sign-in" class = "button">Sign Up</button>
            </a>
            
        </div>
        <div id = "extra">
            <p id = "desc">Kinnect is a new way to communicate with people across the world. It takes the language you speak and translates it to the main language spoken of the country of choice. For instance, American English would be translated to French depending on the country you selected.</p>
        </div>
    </body>
</html>