#div {
    display: flex;
    justify-content: center;
    background-color: rgb(230, 216, 215);
    height: 450px;
    width: 100%;
    margin-top: 0%;
    margin: 0 auto;
}
body {
    margin-top: 0;
    margin-right:0;
    margin-left:0;
    margin-bottom:0px;
}

.title {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 0;
    align-self: center;
}
#desc{
    padding-top: 100px;
    margin-top: 0px;
    margin-bottom: 0px; 
    display: flex;
    justify-content: center;
    background-color: black;
    color:white;
    height: 200px;
}
.button {
    height: 50px;
    width:50px;
}
#logo{
    display:flex;
    justify-content: center;
}
/* The side navigation menu */
.sidenav {
height: 100%; /* 100% Full-height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0; /* Stay at the top */
left: 0;
background-color: #283044; /* Black*/
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 60px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
transition: margin-left .5s;
padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
#open {
    position: absolute;
    top : 30px;
    left:30px;
    width: 100px;
    padding: 10px;
}
#logo {
    height: 400px;
    width: 400px;
}
#placeholder {
    width: 250px;
    height: 370px;
    border: solid black 2px;
    position: absolute;
    top: 30px;
    right:50px;
    background-color: rgb(230, 216, 215);
    overflow: auto;
    border-collapse: separate;
    border-spacing: 5px;
    border-radius: 15px;
}

#chat-title {
    display: flex;
    justify-content: center;
    background-color: rgb(230, 216, 215);
    height: 25px;
    border-bottom-style: solid;
    border-collapse: separate;
    border-spacing: 10px;
    border-radius: 15px;
}